.container{
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    margin: 4em 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.inside-container{
    display: flex;
    gap:1.5em;
}

header, main, aside, footer{
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 2em;
}

main{
    flex-grow: 3;
}

aside{
    flex-grow: 1;
}

.container.aside-left aside{
    order: 1;
}

.container.aside-left main{
    order: 2;
}