.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
    flex-basis: 5em;
}

.flex-container.flex-shrink-one .flex-item{
    flex-shrink: 0;
    max-width: 5em;
}

.flex-container.flex-shrink-2nd-only.flex-item{
    flex-grow: 1;
    min-width: 5em;
}